.Text {
    margin-left: auto;
    margin-right: auto;
    max-width: 18vw;
    border-radius: 25px;
    animation: change_color 4s infinite alternate,
    change_background_colour 2s infinite;  
}
.Text:hover{
    animation-play-state: paused;
}

@keyframes change_color{
    0%{
        color: red;
    }
    50%{
        font-size: 200%;
        font-style: italic;
    }
    100%{
        color: black;
    }
}

@keyframes change_background_colour {
    
    0%{
        background-color: white;
    }
    50%{
        background-color: green;
    }
    100%{
        background-color: yellow;
    }
    
}